<!-- index.html -->
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Visa Requirements Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1 class="title">Visa Requirements Map</h1>
    <div class="dark-mode-wrapper">
        <button onclick="toggleDarkMode()" id="dark-mode-btn">Toggle Dark Mode</button>
    </div>
    <script>
        // Get the dark mode setting from localStorage.
        let darkMode = localStorage.getItem('darkMode');

        // If the dark mode setting is 'enabled' or null (i.e., not yet set), start the body with the dark-mode class.
        if (darkMode === 'enabled' || darkMode === null) {
            document.body.classList.add('dark-mode');
            document.getElementById("dark-mode-btn").innerHTML = "Toggle Light Mode";
            // If dark mode was not set before, set it to 'enabled' in localStorage.
            if (darkMode === null) {
                localStorage.setItem('darkMode', 'enabled');
            }
        }

        function toggleDarkMode() {
            // Check for the dark-mode class.
            let isDarkMode = document.body.classList.toggle('dark-mode');

            // Update the dark mode setting in localStorage.
            if (isDarkMode) {
                localStorage.setItem('darkMode', 'enabled');
                document.getElementById("dark-mode-btn").innerHTML = "Toggle Light Mode";
            } else {
                localStorage.setItem('darkMode', null);
                document.getElementById("dark-mode-btn").innerHTML = "Toggle Dark Mode";
            }
        }
    </script>


    <form method="POST" class="form-control">
        <label for="select_country" class="form-label">Select Country</label>
        <select name="select_country" id="select_country" class="form-select">
            {% for country in countries %}
            <option value="{{ country }}" {% if selected_country== country %} selected {% endif %}>{{ country }}
            </option>
            {% endfor %}
        </select>
        <button type="submit" class="form-button">Show Map</button>
    </form>
    <div class="map-container">
        {% if show_map %}
        <iframe src="{{ url_for('static', filename='map.html') }}" height="100%" width="100%"></iframe>
        <div class="visa-list-container">
            <div class="country-container">
                <img src="{{ url_for('static', filename='flags/flag_' + country_A3 + '.svg') }}"
                         class="main-country-flag" alt="{{ country }} flag">
                <div class="country-container-text">
                    <h3 class="selected-country">{{ selected_country }}</h3>
                    <p class="visa-free-score">Visa Free Score: {{ visa_free_score }}</p>
                </div>
            </div>
            <div class="visa-list">
                {% for data in visa_data %}
                <div class="visa-list-item">
                    <img src="{{ url_for('static', filename='flags/flag_' + data.country_A3 + '.svg') }}"
                         class="country-flag" alt="{{ data.country }} flag">
                    <div class="country-card">
                        <div class="country-name">{{ data.country }}</div>
                    </div>
                    <div class="visa-status-card {% if data.status == 'Visa Required' %}visa-required{% elif data.status == 'Visa Free' %}visa-free{% elif data.status == 'eVisa' %}e-visa{% else %}self{% endif %}">
                        <div class="visa-status">{{ data.status }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <iframe src="{{ url_for('static', filename='empty_map.html') }}" height="100%" width="100%"></iframe>
        {% endif %}
    </div>
</div>
</body>
</html>
