<!-- index.html -->
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Select Country</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1 class="title">Visa Requirement Map</h1>
    <form method="POST" class="form-control">
      <label for="select_country" class="form-label">Select Country</label>
      <select name="select_country" id="select_country" class="form-select">
        {% for country in countries %}
          <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="form-button">Show Map</button>
    </form>
    <div class="map-container">
      {% if show_map %}
        <iframe src="{{ url_for('static', filename='map.html') }}" height="100%" width="100%"></iframe>
      {% else %}
        <p>Select a country to display its map.</p>
      {% endif %}
    </div>
  </div>
</body>
</html>
